
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anti Tease- Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="/logo.png">
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form method="POST" target="/login">
            <label>Email :</label>
         <input type="email" name="email" required>
         <label>Password :</label>
         <input type="password" name="password" required>
         <button class="submit-btn" type="submit">Login</button>
        </form>
    </div>
    <p class="already"> Not have an account?<a href="/register">Sign Up</a></p>
   
</body>
</html>
