<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>It will hardly take a minute for sign up</h4>
        <form target="/register" method="POST">
            <label> Name :</label>
            <input type="text" name="name" required>
            <label>Email :</label>
            <input type="email" name="email" required>
            <label>Mobile no :</label>
            <input type="tel" name="phonenumber" >
            <label>Password :</label>
            <input type="password" required name="password">

            <button type="submit" class="submit-btn">Sign Up</button>

        </form>
        <p>By clicking the Sign Up button,you agree to our <br>
            <a href="#">Terms and Condition</a> and <a href="#">privacy policy</a>
        </p>
    </div>
    <p class="already">Already have an account?<a href="/login">Login here</a></p>
</body>

</html>